{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>User Home</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

{% include 'navbar.html' %}

<div class="container text-center mt-5">
    <h1>📚 Welcome to Library (User Panel)</h1>
    <p>Browse and borrow books below</p>
</div>

<div class="container mt-4">
<div class="row">

{% for book in books %}
<div class="col-md-4 mb-4">
<div class="card p-3">

{% if book.image %}
<img src="{{ book.image.url }}" class="card-img-top">
{% endif %}

<div class="card-body">
<h5>{{ book.title }}</h5>
<p>{{ book.author }}</p>

{% if book.is_availible %}
<a href="{% url 'borrow_book' book.id %}" class="btn btn-primary w-100">
Borrow Book
</a>
{% else %}
<button class="btn btn-danger w-100" disabled>Not Available</button>
{% endif %}

</div>
</div>
</div>
{% endfor %}

</div>
</div>

</body>
</html>
