{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <link rel="stylesheet" href="{% static 'admin_dashboard/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <h1>📚 Library Management System</h1>
        <nav>
            <a href="{% url 'user_home' %}">Home</a>
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </nav>


    </header>

    <div class="layout">

        <aside class="sidebar">
            <a href="{% url 'admin_dashboard' %}"
                class="{% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
                Dashboard
            </a>
            <a href="{% url 'add_book' %}">Add Book</a>
            <a href="{% url 'manage_categories' %}">Manage Categories</a>
            <a href="{% url 'premium_members' %}">Premium Members</a>
        </aside>

        <main class="main-content">
            {% block content %}{% endblock %}
        </main>

    </div>

  
</body>

</html>