{% extends 'adminbase.html' %}

{% load static %}

{% block content %}

{% load static %}

<div class="category-container">

    <div class="category-card">
        <h2 class="page-title">Manage Categories</h2>

        <form method="post" class="category-form">
            {% csrf_token %}
            
            <div class="form-group">
                <input type="text" name="name" placeholder="Enter Category Name" required>
            </div>

            <div class="form-group">
                <select name="parent">
                    <option value="">No Parent (Main Category)</option>
                    {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                        {% for sub in cat.subcategories.all %}
                        <option value="{{ sub.id }}"> ↳ {{ sub.name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn-add">+ Add Category</button>
        </form>
    </div>

    <div class="category-list-card">
        <h3>Category List</h3>

        <ul class="category-list">
            {% for cat in categories %}
            <li class="main-category">
                <div class="category-item">
                    <span>{{ cat.name }}</span>
                    <a href="{% url 'delete_category' cat.id %}" class="btn-delete">Delete</a>
                </div>

                {% if cat.subcategories.all %}
                <ul class="subcategory">
                    {% for sub in cat.subcategories.all %}
                    <li>
                        <span>↳ {{ sub.name }}</span>
                        <a href="{% url 'delete_subcategory' sub.id %}" class="delete"><i class="fa-solid fa-trash"></i></a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}